@model EventoModel

    <!DOCTYPE html>
    <html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Cadastro de evento</title>
        <link rel="stylesheet" href="meucss.css" />
    </head>


    <body>
        <div class="text-center">
            <h1>Cadastro de Evento</h1>
        </div>
        <form asp-controller="Evento" asp-action="Cadastrar" method="post">
            <div class="text-center">
                <div>
                    Nome do evento:<br />
                    <input type="text"  asp-for="Nome" required/>
                    <p></p>

                </div>
                <div>
                    Data do evento:<br />
                    <input type="date" asp-for="Data" />
                    <p></p>
                </div>
                <div>
                    Hora de inicio:
                    Hora de término:
                </div>
                <div>
                    <input name="horainicio"  id="horaInicio" type="time" asp-for="HoraInicio" />
                    <input name="horaFim" id="horaFim" step="00:30" type="time" asp-for="HoraFim" />
                </div>
                <p></p>
                <div>
                    Estado / Cidade:<br />
                    <select  asp-for="Estado">
                        <option value="uf">Uf</option>
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                        <option value="4">d</option>
                        <option value="5">e</option>
                        <option value="6">f</option>
                        <option value="7">g</option>
                        <option value="8">h</option>
                        <option value="9">i</option>
                        <option value="10">j</option>
                        <option value="11">k</option>
                        <option value="12">l</option>
                        <option value="13">m</option>
                        <option value="14">n</option>
                        <option value="15">o</option>
                        <option value="16">p</option>
                        <option value="17">q</option>
                        <option value="18">r</option>
                        <option value="19">s</option>
                        <option value="20">t</option>
                        <option value="21">u</option>
                        <option value="22">v</option>
                        <option value="23">w</option>
                        <option value="24">x</option>
                        <option value="25">y</option>
                        <option value="26">z</option>
                    </select>
                    <select class="form-select" asp-for="Cidade">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                </div>
                <p></p>
                <div>
                    <label id="LabelTextarea"> Descrição de evento: </label>
                    <br />
                    <textarea placeholder="Preencha as descrições do evento..." asp-for="Descricao"></textarea>
                </div>
                <div>
                    <label id="LabelEmail">Emai:</label><br />
                    <input type="email" placeholder="exemplo123@gmail.com" asp-for="Email"/>
                </div>
                <p></p>
                <div>
                    <label>Máximo de <input type="number" class="col-2" asp-for="Lotacao"/> pessoas no evento.</label>
                </div>
                <p></p>
                <input type="submit" class="btn-primary" value="cadastrar" />
                @*<a class="btn btn-primary" type="button" asp-controller="Evento" asp-action="Cadastrar">Cadastrar Evento</a>*@
            </div>
        </form>
    </body>
</html>
