<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1,0" />
    <title>Compra de ingressos</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<form class="text-center" style="text-align: center; width: 100%; margin: 0px 0">

    <div>
        <label>Nome:</label><br />
        <input type="text" placeholder="Nome completo" />
        <p></p>
        <label>Email:</label><br />
        <input type="email" placeholder="Exemplo@email.com"/>
        <p></p>
        <button class="btn-primary btn" type="submit" value="Comprar ingresso">Comprar ingresso</button>
    </div>  
</form>
</body>
</html>