<form>
    <div class="text-center">
        <h4>Cadastrar Evento</h4>
        <div class="mb-3">
            <label for="codigoVerificacao" class="form-label">Código de Verificação:</label>
            <br />
            <input class="col-3" type="text" name="codigoVerificacao" required />
        </div>
        <div>
            <button class="btn-primary col-1">Enviar</button>
        </div>
    </div>
</form>