<form>
    <div class="text-center">
        <h4>Cadastrar Evento</h4>
        <div>
            <label for="codigoVerificacao">Codigo de Verificação:</label>
            <br />
            <input type="text" name="codigoVerificacao" />
        </div>
        <br />
        <div>
            <input type="submit" value="Enviar" />
        </div>
    </div>
</form>